@namespace Portfolio.UI.Pages
@inherits LayoutComponentBase

<div class="page">
    <div class="main-wrapper">
        <div class="sidebar side-three new-header">
            <div class="container">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul class="nav">
                        <li>
                            <a href="/">
                                <img src="/img/icons/home.svg" alt="Home" />
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/markwarrenhollingsworth/" target="_blank">
                                <i data-feather="layers"></i>
                                <img src="/img/icons/linkedin.svg" alt="LinkedIn" />
                                <span>LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/markwhollingsworth/" target="_blank">
                                <i data-feather="layers"></i>
                                <img src="/img/icons/github.svg" alt="Github" />
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:markhollingsworth85@gmail.com">
                                <i data-feather="layers"></i>
                                <img src="/img/icons/email3.svg" alt="Email" />
                                <span>Email</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
</div>