@inherits LayoutComponentBase

<div class="page">
    <div class="main-wrapper">
        <div class="header header-three">
            <div class="container">
                <!-- Logo -->
                <div class="header-left">
                    <a href="/">
                        <!-- class="logo logo-normal"-->
                        <img src="img/collectible-high-resolution-color-logo-cropped.png" alt="Collectible logo" />
                    </a>
                </div>
                <div class="dropdown mobile-user-menu">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/inventory">Inventory</a>
                        <a class="dropdown-item" href="signin.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header -->
        <div class="sidebar side-three new-header">
            <div class="container">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul class="nav">
                        <li>
                            <a href="/"><img src="/img/icons/dashboard.svg" alt="img"><span>Home</span></a>
                        </li>
                        <li>
                            <a href="/inventory"><i data-feather="layers"></i><img src="/img/icons/cash.svg" alt="img"><span>Inventory</span></a>
                        </li>
                        <li>
                            <a href="/coin/add"><i data-feather="layers"></i><img src="/img/icons/add-circle.svg" alt="img"><span>Add Coin</span></a>
                        </li>
                        <li>
                            <a href="/currency/add"><i data-feather="layers"></i><img src="/img/icons/add-circle.svg" alt="img"><span>Add Currency</span></a>
                        </li>
                        <li>
                            <a href="/stamp/add"><i data-feather="layers"></i><img src="/img/icons/add-circle.svg" alt="img"><span>Add Stamp</span></a>
                        </li>
                        <li>
                            <a href="/map/search"><i data-feather="layers"></i><img src="/img/icons/add-circle.svg" alt="img"><span>Map Search</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
</div>