@page "/"
@namespace Portfolio.UI.Pages

<div class="container text-center">
    <div class="jumbotron">
        <p class="lead mb-1">
            Welcome!
        </p>
        <p class="lead mb-1">
            Thank you for dropping by!
        </p>
        <p class="lead mb-4">
            
        </p>
    </div>
    <div class="row">
        <div class="col-sm col-md container-lg col-xl">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title display-4">Collectibles</h4>
                    <p>
                        Since 1999, coins, currency and stamps have been an interest of mine.
                        This portion of the website is geared toward the inventory of collectibles.
                    </p>
                    <NavLink href="/inventory">View collectibles</NavLink>
                </div>
            </div>
        </div>
        <div class="col-sm col-md container-lg col-xl">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title display-4">Maps</h4>
                    <p>
                        Search and view Arizona highway maps spanning 1930 to 1993.  All maps have been scanned from various sources.
                    </p>
                    <NavLink href="/map/search">View maps</NavLink>
                </div>
            </div>
        </div>
@*        <div class="col-sm col-md container-lg col-xl">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-orange">Photography</h4>
                    <p>
                        View photos
                    </p>
                    <NavLink href="/photography">View photos</NavLink>
                </div>
            </div>
        </div>*@
    </div>
</div>