@page "/"
@namespace Portfolio.UI.Pages

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Coins</h3>
                <div>
                    <NavLink href="/coins">View coins in inventory</NavLink>
                </div>
                <div>
                    <NavLink href="/add/coin">Add a coin to inventory</NavLink>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Currency</h3>
                <div>
                    <NavLink href="/coins">View currency in inventory</NavLink>
                </div>
                <div>
                    <NavLink href="/add/coin">Add currency to inventory</NavLink>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Stamps</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools" /></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
    </div>
</div>


@*     <div class="row">
        <div class="col-sm col-md container-lg col-xl">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title display-4">Coins</h4>
                    <p>
                        Since 1999, coins, currency and stamps have been an interest of mine.
                        This portion of the website is geared toward the inventory of collectibles.
                    </p>
                    <NavLink href="/coins">View coins</NavLink>
                    <NavLink href="/add/coin">Add coin</NavLink>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-md container-lg col-xl">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title display-4">Maps</h4>
                    <p>
                        Search and view Arizona highway maps spanning 1930 to 1993.  All maps have been scanned from various sources.
                    </p>
                    <NavLink href="/map/search">View maps</NavLink>
                </div>
            </div>
        </div>
        @*        <div class="col-sm col-md container-lg col-xl">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-orange">Photography</h4>
                    <p>
                        View photos
                    </p>
                    <NavLink href="/photography">View photos</NavLink>
                </div>
            </div>
        </div>*@
