@page "/"
@namespace Portfolio.UI.Pages

<div class="container text-center">
    <div class="jumbotron">
        <p class="lead mb-1">
            Welcome!
        </p>
        <p class="lead mb-1">
            Thank you for dropping by!
        </p>
        <p class="lead mb-4">
            My name is Mark Hollingsworth and I am a software developer, numismatist, traveler, father, husband, and much much more.  
            This is my website where I show off some of my personal work and stuff that I am passionate about.
        </p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title display-4">Collectibles</h4>
                    <p>
                        Since 1999, coins, currency and stamps have been an interest of mine.
                        This portion of the website is geared toward creating an inventory of collectibles,
                        along with photos of each item.  
                    </p>
                    <NavLink href="/inventory">View inventory</NavLink>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title display-4">Highway Maps</h4>
                    <p>
                        Search and view Arizona highway maps spanning 1930 to 1993.  All maps have been scanned from various sources.
                    </p>
                    <NavLink href="/map/search">Search for maps</NavLink>
                </div>
            </div>
        </div>
                <div class="col-4">
        <div class="card">
        <div class="card-body">
        <h4 class="card-title text-orange">Photography</h4>
        <p>
        View photos
        </p>
        <NavLink href="/photography">View photos</NavLink>
        </div>
        </div>
        </div>
    </div>
</div>