@page "/"
@namespace Portfolio.UI.Pages

<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-orange">Collectibles</h4>
                    <p>
                        Collectibles is a project geared toward keeping track of coins, stamps, and other collectibles.
                    </p>
                    <NavLink href="/inventory">View inventory</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-orange">Arizona Highway Maps</h4>
                    <p>
                        Features Arizona highway maps from 1930 to 1993.
                    </p>
                    <NavLink href="/map/search">Search for maps</NavLink>
                </div>
            </div>
        </div>
    </div>
</div>