@page "/resume"
@namespace Portfolio.UI.Pages
@inject IPortfolioService PortfolioService

<div class="container">
    <div class="row">
        <div class="col-12">
            @ResumeHtml
        </div>
    </div>
</div>