@page "/resume"
@namespace Portfolio.UI.Pages

<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h3>
                    <a href="https://www.srpnet.com/" target="_blank">
                        SRP
                    </a>
                    &nbsp;
                    <small class="text-muted time-span">
                        March 2022 - Present
                    </small>
                </h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Remediated an issue with printing water bills 
                    </li>
                    <li class="list-group-item">
                        Added ability to pay with credits to customer-facing 

                    </li>
                    <li class="list-group-item">
                        Served in on-call rotation 
                    </li>
                </ul>
            </div>
            <div>
                <h3>
                    <a href="https://hypur.com/" target="_blank">Hypur</a>&nbsp;
                    <small class="text-muted time-span">September 2018 - January 2022</small>
                </h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Worked on MAW</li>
                    <li class="list-group-item">Worked on MAW</li>
                </ul>
            </div>
            <div>
                <h3>
                    <a href="https://home.geniusavenue.com/" target="_blank">Genius Avenue</a>&nbsp;
                    <small class="text-muted time-span">March 2017 - September 2018</small>
                </h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Worked on MAW</li>
                    <li class="list-group-item">Worked on MAW</li>
                </ul>
            </div>
            <div>
                <h3>
                    <a href="https://www.uhaul.com/" target="_blank">U-Haul</a>&nbsp;
                    <small class="text-muted time-span">September 2012 - March 2017</small>
                </h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Worked on MAW</li>
                    <li class="list-group-item">Worked on MAW</li>
                </ul>
            </div>
        </div>
    </div>
</div>