@page "/resume"
@namespace Portfolio.UI.Pages

@if (ResumeHtml.Value == null)
{
    <div class="container">
        <div class="row">
            <div id="global-loader">
                <div class="whirly-loader">
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                @ResumeHtml
            </div>
        </div>
    </div>
}
