@inject IJSRuntime JS
@namespace Portfolio.UI.Components

<div class="container mapContainer">
    <div class="h-75">
        <div class="jumbotron jumbotron-fluid">
            <h6 class="display-6 text-center">@GetFullDescription()</h6>
            <br />
            <div id="mapContainer" style="width: 100%; height: 70%;"></div>
        </div>
    </div>
</div>
