@namespace Portfolio.UI.Components.OldArizonaRoads
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>@GetFullDescription()</h3>
            <div id="mapContainer" style="width: 800px; height: 450px;"></div>
        </div>
    </div>
</div>



