@page "/map/{Id:int}"
@namespace Portfolio.UI.Pages.OldArizonaRoads

@if (Id <= 0)
{
    <p>Map id is invalid.</p>
}
else if (MapDetail == null)
{
    <div class="container">
        <div class="row">
            <div id="global-loader">
                <div class="whirly-loader"></div>
            </div>
        </div>
    </div>
}
else if (string.IsNullOrWhiteSpace(MapDetail.Url))
{
    <p>Map url is invalid.</p>
}
else
{
    <MapComponent Map="@MapDetail"></MapComponent>
}