@page "/map/{Id:int}"
@inject IPortfolioService PortfolioService
@namespace Portfolio.UI.Pages

<div class="container my-3 fs-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="/">
                    Home
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                <NavLink href="/map/search">
                    Map search
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                Map detail
            </li>
        </ol>
    </nav>
</div>

@if (MapDetail == null)
{
    <div class="container">
        <div class="row">
            <div id="global-loader">
                <div class="whirly-loader">
                </div>
            </div>
        </div>
    </div>
}
else if (string.IsNullOrWhiteSpace(MapDetail.Url))
{
    <div class="container">
        <div class="row">
            <p>
                Map url is invalid.
            </p>
        </div>
    </div>
}
else
{
    <MapComponent Map="@MapDetail">
    </MapComponent>
}