@page "/map/{Id:int}"
@inject IConfiguration Configuration
@namespace Portfolio.UI.Pages.OldArizonaRoads

@if (Id <= 0)
{
    <p>Map id is invalid.</p>
}
else if (MapDetail == null)
{
    <p>Unable to find map.</p>
}
else if (string.IsNullOrWhiteSpace(MapDetail.MapUrl))
{
    <p>Map url is invalid.</p>
}
else if (string.IsNullOrWhiteSpace(MapDetail.MapDescription))
{
    <p>Map description is invalid.</p>
}
else
{
    <MapComponent MapUrl="@MapDetail.MapUrl" PageTitle="@MapDetail.MapDescription"></MapComponent>
}