@page "/collectible/add"
@inject IPortfolioService PortfolioService
@inject IConfiguration Configuration
@inject IJSRuntime JS
@namespace Portfolio.UI.Pages

@if (!IsLoadingComplete)
{
    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg col-xl">
                <div id="global-loader">
                    <div class="whirly-loader">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @if (IsAddCollectibleSuccessful)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm col-md col-lg col-xl">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>
                            Success!
                        </strong>
                        @AddCollectibleMessage
                        <NavLink href="/collectibles">
                            Return to Collectibles
                        </NavLink>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg col-xl">
                <div class="card border border-primary">
                    <div class="card-body">
                        <h5 class="card-title">
                            Add Collectible
                        </h5>
                        <EditForm Model="@AddCollectibleRequest" OnValidSubmit="@SaveCollectible">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <DataAnnotationsValidator />
                                        <div class="validation">
                                            <ValidationSummary class="alert alert-primary"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col col-lg-8 col-md-6 col-sm-4">
                                            <label for="description" class="required-field">Description</label>
                                            <input id="description" class="form-control" @bind="AddCollectibleRequest.Description" />
                                        </div>
                                        <div class="col col-lg-2 col-md-3 col-sm-4">
                                            <label for="quantity" class="required-field">Quantity</label>
                                            <input id="quantity" type="number" class="form-control" @bind="AddCollectibleRequest.PurchaseDetail.Quantity" onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" />
                                        </div>
                                        <div class="col col-lg-2 col-md-3 col-sm-4">
                                            <label for="purchaseDate">Purchase Date</label>
                                            <input id="purchaseDate" data-provide="datepicker" class="datepicker form-control" @bind="AddCollectibleRequest.PurchaseDetail.Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col">
                                            <label class="sr-only" for="subtotal">Purchase Subtotal</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input id="subtotal" type="number" class="form-control" @bind="AddCollectibleRequest.PurchaseDetail.Subtotal" onkeypress="/^\d+(?:\.\d{0,2})$/.test(e) ?  : 0.00" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="sr-only" for="shippingCost">Purchase Shipping Cost</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input id="shippingCost" type="number" class="form-control" @bind="AddCollectibleRequest.PurchaseDetail.Shipping" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="sr-only" for="tax">Purchase Tax</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input id="tax" type="number" class="form-control" @bind="AddCollectibleRequest.PurchaseDetail.Tax" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col col-lg-5 col-md-6 col-sm-4">
                                            <label class="sr-only" for="sellerName">Seller Name</label>
                                            <div class="input-group">
                                                <input id="sellerName" type="text" class="form-control" @bind="AddCollectibleRequest.PurchaseDetail.SellerName" />
                                            </div>
                                        </div>
                                        <div class="col col-lg-7 col-md-6 col-sm-4">
                                            <label class="sr-only" for="sellerAddress">Seller Address</label>
                                            <div class="input-group">
                                                <input id="sellerAddress" type="text" class="form-control" @bind="AddCollectibleRequest.PurchaseDetail.SellerAddress" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col col-sm col-md col-lg col-xl">
                                    <button class="btn btn-primary" type="submit">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}