@page "/currency/add"
@inject IConfiguration Configuration
@namespace Portfolio.UI.Pages

<div class="container">
    <div class="row">
        <div class="col-sm col-md col-lg col-xl">
            <div id="global-loader">
                <div class="whirly-loader">
                </div>
            </div>
        </div>
    </div>
</div>