@page "/currency/add"
@inject IConfiguration Configuration
@namespace Portfolio.UI.Pages

<div class="container">
    <div class="row">
        <div class="col-lg-11 col-md-9 col-sm-7 mx-auto">
            <div id="global-loader">
                <div class="whirly-loader"></div>
            </div>
        </div>
    </div>
</div>