@page "/item/{Id:int}"
@namespace Portfolio.UI.Pages

<div class="container my-3 fs-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/inventory">Inventory</a></li>
            <li class="breadcrumb-item">Item detail</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h3>Item Details</h3>
</div>